name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  lint:
    name: Lint
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - name: Install make
        run: choco install make -y
      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  test:
    name: Test with Coverage
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - name: Install make
        run: choco install make -y
      - name: Run tests and check coverage
        run: make test check-coverage

      - name: Check file count
        run: make check-file-count